#searchbar {
    margin: 5%;
    color:black;
    height: 25px;
    float:left;
    margin-top: 15px;
}

:placeholder-shown {
    color: black;
}

::placeholder {
    color: black;
}

h2 {
    text-align: center;
    margin: 0px 500px;
    padding: 30px;
    font-size: 35px;
    font-style: bold;
}

.description {
    font-style: italic;
}

#price {
    font-style: bold;
}
#products {
    display: inline-block;
    padding: 30px;
    width: 16%;
}

button {
    background-color: #048BA8
}
#popular{
    background-color: #9CB65F;
}

#gifts{
    background-color: #F18F01;
}
img {
    width: 250px;

}
p {
font-size: 20px;
}

input {
    background: rgb(78, 168, 108);
    color:white;
}


#logo {
    width: 50px;
    padding: 5px;
}


::placeholder {
    color: white;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}